body {
    background-color: black;
    color: white;
    font-family: 'Roboto Mono', monospace;
    font-size: 12px;
}

#styledImg {
    width: 100%;
    margin-top: 4.5rem;
    margin-bottom: 4.5rem;
}

.card-title {
    color: #28a745;
    font-size: 15px;
}

#navForm {
    width: 500px;
}

#navInput {
    width: 418px;
}

#button {
    background-color: lightgray;
    color: black;
}

.container1 {
    width: 100%;
}

.card-body {
    background-color: #343a40;
}

.card,
.card1,
.card2,
.card3 {
    background-color: #343a40;
    color: white;
    border: 1px solid #28a745;
    width: 100%;
}

.navbarDropdown {
    background-color: #28a745;
    color: white;
}

#imageClips {
    width: 100%;
}

#loginLogo {
    background-color: #343a40;
    width: 18rem;
}

.overlay {
    border: 2px solid #28a745;
    max-height: 75px;
    overflow: hidden;
}

.topClips a {
    color: #fff;
}

.topClips a:hover {
    color: #28a745;
    text-decoration: none;
}